// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "octicon-utf-codes.less";
@import "ui-variables.less";

atom-text-editor.editor {

  .refactor-reference {
    .region {
      border-radius: 2px;
      box-sizing: border-box;
      background-color: rgba(54, 175, 144, 0.2);
      border: 1px solid rgba(54, 175, 144, 0.3);
    }
  }

  .refactor-region(@color) {
    box-shadow: inset 0 0 4px 0px fadeout(@color, 0%);
    border: 1px solid fadeout(@color, 10%);
    background-color: fadeout(@color, 80%);
    opacity: .66;
  }

  @refactor-region: #246AE2;
  @refactor-region-decl: #F9812B;
  @refactor-region-mut: #E6404B;
  @refactor-region-ref: #22911B;
  .refactor-ref, .refactor-mut, .refactor-decl {
    .region {
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: calc(100%-4px);
        left: -1px;
        box-sizing: content-box;
        padding: 0 1px;
        border-radius: 1.5px;
        .refactor-region(@refactor-region);
      }
    }
  }
  // .refactor-ref .region {
  //   border-bottom: 1px solid green;
  // }
  .refactor-ref .region {
    &:before {
      .refactor-region(@refactor-region-ref);
    }
  }
  .refactor-decl .region,
  .refactor-mut .region {
    &:before {
      .refactor-region(@refactor-region-mut);
    }
  }
  .refactor-decl .region {
    &:before {
      .refactor-region(@refactor-region-decl);
      box-shadow: inset 0 0 4px 1px @refactor-region-decl;
    }
  }

  .refactor-error {
    .region {
      box-sizing: border-box;
      border-bottom: 1px dotted rgba(255, 0, 0, 1);
    }
  }

  .gutter {
    .line-number.refactor-error {
      .icon-right {
        visibility: visible;
        &:before {
          content: @alert;
          color: @text-color-error;
        }
      }
    }
  }

}
